body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 10px 20px 10px 20px;
	padding: 0px;
	background-color: #110033;
	color: white;
}

a:link {
	color: #00ffff
}

a:visited {
	color: #00ccff
}

a:active {
	color: #00ffcc
}

table {
	border: 0px;
}

.smallButton {
	height: auto;
	width: auto;
	max-width: 16px;
	max-height: 16px;
	margin-left: 5px;
}

/* Search */

form.search label, form.search input {
	vertical-align: middle;
	margin-right: 5px;
}

form.search img {
	float: right;
}

/* Edit */

div.editAlbum {
	margin-bottom: 20px;
}

div.editAlbum input{
	display: block;
}

div.editAlbumArtist {
	display: block;	
}

div.editAlbumArtist img {	
	vertical-align: middle;	
}

div.editSongs {
	margin-bottom: 20px;
}

div.editArtist input{
	display: block;
}


td.disc {
	width: 40px;
	text-align: center;
}

td.disc input {
	min-width: 10px;
	max-width: 100%;
	width: 50%;
}

td.track {
	width: 40px;
	text-align: center;
}

td.track input {
	min-width: 10px;
	max-width: 100%;
	width: 50%;
}

td.title {
	width: 400px;
}

td.title input {
	min-width: 10px;
	max-width: 100%;
	width: 100%;
}


