body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 10px 20px 10px 20px;
	padding: 0px;
	background-color: #110033;
	color: white;
}

table {
	border: 0px;
}

.smallButton {
	height: auto;
	width: auto;
	max-width: 16px;
	max-height: 16px;
}

/* Search */
form.search label,input {
	vertical-align: top;
	margin-right: 5px;
}

form.search img {
	float: right;
}

/* Edit */

div.editAlbum {
	margin-bottom: 20px;
}

div.editAlbum input{
	display: block;
}

div.editSongs {
	margin-bottom: 20px;
}

td.disc {
	width: 40px;
	text-align: center;
}

td.disc input {
	min-width: 10px;
	max-width: 100%;
	width: 50%;
}

td.track {
	width: 40px;
	text-align: center;
}

td.track input {
	min-width: 10px;
	max-width: 100%;
	width: 50%;
}

td.title {
	width: 400px;
}

td.title input {
	min-width: 10px;
	max-width: 100%;
	width: 100%;
}

a:link {
	color: #00ffff
}

a:visited {
	color: #00ccff
}

a:active {
	color: #00ffcc
}

a.menulink {
	color: #6699ff;
	background-color: #660033;
	text-decoration: none;
	text-align: left;
	display: block;
}

a.menulink:hover {
	color: #660033;
	background-color: #6699ff;
	font-style: italic;
	text-decoration: none;
	display: block;
}

.menugroup {
	font-style: italic;
	color: #00ffff
}

.moddate {
	font-style: italic;
	font-size: 75%;
	color: #ffffff;
}

.addressentry {
	font-style: italic;
	font-weight: bold;
}